@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Playball');

html {
    background: url('/Images/homepage_image.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
	height: 100%;
	background-color: white;
	font-family: Arial, sans-serif;
	font-size: 24px;
	margin: 0;
	padding: 0;
	border: 0;
	}

	.header {
		background: #ffd4d6;
		width: 100%;
		min-height: 60px;
		position: fixed;
		text-align: right;
		z-index: 9999;
	}
	.header .container {
		margin-top: 1px;
    	margin-bottom: 14px;
    	position: relative;
	}
	.container {
		max-width: 1100px;
		margin: 0 auto;
		padding: 1%;
	}
	.logo {
		float: left;
	}
    .menu_wrapper {
    	display: inline-block;
    	max-width: 40%;
		height: auto;
		width: 100%;
		text-align: right;
		font-size: .75em;
		font-family: 'Lato', sans-serif;
		padding: 19px 12px 16px 12px;

	}

	.img {
		height: auto;
		width: 100%;
		max-width: 1500px;
		max-height: 1400px;
	}
	.navlinks {
		font-family: sans-serif;
		color: #403535;
		padding: 10px;
		font-family: 'Roboto:400', sans-serif;
		text-decoration: none;
		}
	.center {
    	position: absolute;
    	top: 30%;
    	left: 27%;
    	color: #ffffff;
    	font-size: 2.5em;
    	font-family: 'Pacifico', cursive;
	}
	ul {
    	list-style-type: none;
    	margin: 100;
    	padding: 100;
    	overflow: hidden;
	}
	li {
    	float: left;
    	border-right: 1px solid #403535;
	}
	li:last-child {
    	border-right: none;
	}
	li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}	
p {
	width: 1000px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

ul {
	margin: auto;

}