html {
    background: url('/Images/homepage_image.jpg'); 
    background-size: cover;
}

body {
	color: #3f2f32;
	background-color: #febcc9;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 24px;
	font-family: Helvetica, sans-serif;
	font-style: italic;
}

#slogan {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	font-style: normal;

}