@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
    background: url('/Images/homepage_image.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
	background-color: white;
	font-family: Arial, sans-serif;
	font-size: 20px;
	}

	img{
		height: auto;
		width: auto;
		max-width: 1400px;
		max-height: 1400px;
	}
	.container {
		position: relative;
	}

	#menu {
		margin-top: 0px;
		margin-right: 10px;
		margin-bottom: 100px;
		margin-left: 800px;
		font-size: .75em;
		font-family: 'Roboto', sans-serif;
	}

	.topleft {
		position: absolute;
    	top: 20px;
    	left: 20px;
    	font-size: 1em; 
    	color: #ffffff;
    	font-family: 'Roboto', sans-serif;
	}

	#slogan {
	font-size: .75em;
	font-family: Helvetica, sans-serif;
	font-style: normal;
	width: 1000px;
	font-family: 'Roboto', sans-serif;
	}
	
	}
	.navlinks {
		font-family: sans-serif;
	}
}

#h1 {
	margin: auto;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

#h2 {
	margin: auto;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}
p {
	width: 1000px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

ul {
	margin: auto;

}

}